body{
    background-color:#FEF3E2;
}
div{
    margin: auto;
}
#topLogo{
    margin: auto;
    margin-left: 33%
}
header{
    background-color: #FAAF08;
    width: auto;
}
footer{
    background-color: #FAAF08;
    width: auto;
}
#side-bar{
    background-color: #FA812F;
    width: auto;
}
.boton{
    background-color: #FEF3E2;
    color: #FA4032;
}

.boton :hover{
    background-color: #FA812F;
    color: #FEF3E2;
}
.boton2{
    background-color: #FAAF08;
    color: #FEF3E2;
}
.boton2 :hover{
    background-color: #FEF3E2;
    color: #FEF3E2;
}
